@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
body {
    background-color: var(--color-bg);
    font-family: var(--font-family);
    color: var(--color-text)
}
.book-item {
    margin: 20px;
    padding: 10px;
    display: flex;

}
.book-item img {
    width: 220px;
    height: 330px;
}

.book-detail {
    margin-left: 20px;
    padding: 30px;
    padding-top:0px;
    display: flex;
    flex-direction: column;
}
.book-detail h3 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.book-meta {
    display: flex;
    

}
.book-meta .first-col {
    float: left;
    width: 50%;
}
.book-meta .second-col {
    width: 50%;
}
.book-meta span {
    display: block;
    color: #cdc9d3;
}
.btn-cart {
    background-color: #3d6db5;
    width: 168px;
    cursor: pointer;
    height: 48px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.95rem;

}


